*{
    font-family: Montserrat;
}
html{
    scroll-behavior: smooth;
    
}
body {
    margin: 0 auto;
    background-color: #FEFAE0;
    overflow-x: hidden;

}
.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: minmax(100px,auto);
    grid-gap: 10px;

    
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEFAE0;
    grid-column: 1/4;
}
.header img{
    width: 80px;
}
.navigation{
    background-color: #FEFAE0;
    grid-column: 4/13;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 1rem;
    padding-right: 5rem; 
    
    
}
.navigation a{
    margin: 20px;
    color: #1d3557;
    font-weight: 500;
    text-decoration: none;
    transition: 
        transform 0.3s;
}
.search_box{
    width: 25%;
    height: 60%;
    background: white;
    color: black;
    border: 2px solid rgb(100, 94, 94);
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 1rem;
    transition: 
        transform 0.3s,
        background-color 0.3s,
        color 0.3s,
        border 0.3s;
}
.search_box:hover{
    transform:  translateY(-3px);   
    box-shadow: 2px 2px 5px rgba(82, 82, 82, 0.455);
    background-color: #f09c0c;
}
.navigation a:hover{
    border-bottom: 2px solid #1d3557;
    transform:  translateY(-3px);
}
.active{
    border-bottom: 2px solid #1d3557;
}
.wallpaper{
    background-image: linear-gradient(rgba(6, 6, 16, 0.203),rgba(0, 0, 0, 0.822)), url(../assets/university/grad.jpg);
    background-size: cover;
    background-attachment: fixed;
    grid-column: 1/13;
    grid-row: 2/6;

    display: flex;
    justify-content: center;
    align-items: center;
}
.w_title{
    color: white;
    font-size: 17px;
    width: 70%;
}
.w_title h1{
    color:yellow;
    font-size: 50px;
}
.wrapper{
    grid-column: 2/12;
    grid-row: span 2;
    display: flex;
    justify-content: left;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 10px 0;
    box-shadow: 0 0 128px rgba(0,0,0,0.1),
            0 32px 64px -48px rgb(0,0,0,0.5);
    
}
.wrapper::-webkit-scrollbar{
    width: 2vw;
    cursor: grab;
}
.wrapper::-webkit-scrollbar-thumb{
    background-color: rgb(255, 242, 167);
    border-radius: 2px;
}
.wrapper::-webkit-scrollbar-track{
    background-color: rgb(238, 127, 0);
    border-radius: 2px;
}
.wrapper .item{
    min-width: 180px;
    height: 180px;
    line-height: 110px;
    text-align: center;
    margin: 20px 10px;
    cursor: pointer;
    transform: scale(1.0);
    transition: all 0.3s;
}
.wrapper .item:hover{
    transform: scale(1.1);
}
#uni1{
    background-image: url(../assets/home/adam.png); 
}
#uni2{
    background-image: url(../assets/home/admu.png);  
}
#uni3{
    background-image: url(../assets/home/dlsu.png);  
}
#uni4{
    background-image: url(../assets/home/feu.png);  
}
#uni5{
    background-image: url(../assets/home/lpu.png);  
    background-position-y: center;
    background-size: cover;
}
#uni6{
    background-image: url(../assets/home/mapua.png); 
    background-position-y: center;
}
#uni7{
    background-image: url(../assets/home/nu.png);  
}
#uni8{
    background-image: url(../assets/home/pup.png);  
}
#uni9{
    background-image: url(../assets/home/sb.png);  
}
#uni10{
    background-image: url(../assets/home/UE.png);  
}
#uni11{
    background-image: url(../assets/home/UP.png);  
}
#uni12{
    background-image: url(../assets/home/ust.png);  
}
.item{
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    
}
/* content of all */
.university{
    background-color: rgb(255, 253, 238);
    grid-column: 2/12;
    grid-row: 10/40;

    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: 100px;

    box-shadow: 0 0 128px rgba(0,0,0,0.1),
            0 32px 64px -48px rgb(0,0,0,0.5);
}
#u1,
#u2,
#u3,
#u4,
#u5,
#u6,
#u7,
#u8,
#u9,
#u10,
#u11,
#u12{
    grid-column: 2/7;
    grid-row: 2/8;
    border-radius: 10px;
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#u1{
    background-image: url(../assets/home/adam-build.jpg);
}
#u2{
    background-image: url(../assets/home/admu-build.jpg);
}
.u1_b{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 7/12;
    grid-row: 2/7;
    padding: 2rem;  
}
.u1_b h1{
    font-size: 60px;
    color: rgb(13, 0, 89);
}
.buttonn{
    background-color: rgb(13, 0, 89);
    border: none;
    outline: none;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}
.facility{
    background-color: rgb(13, 0, 89);
    grid-column: 1/13;
    grid-row: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: aliceblue;
   
}
.f1{
    background-image: url(../assets/univ/ADAMSON/adamson.jpg);
    grid-column: 1/7;
    grid-row: 10/14;
    background-size: cover;
    background-position-x: center;
}
.f2{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 7/13;
    grid-row: 10/14;
    padding: 3rem;
    text-align: justify;
    line-height: 25px;
    background-color: #fef1db;
}

.f3{
    grid-column: 1/7;
    grid-row: 14/18;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    text-align: justify;
    line-height: 25px;
    background-color: #fef1db;
}
.f4{
    background-image: url(../assets/univ/ADAMSON/lib.jpg);
    grid-column: 7/13;
    grid-row: 14/18;
    background-size: cover;
    background-position-x: center;
    
}
.f5{
    background-image: url(../assets/univ/ADAMSON/gym.jpg);
    grid-column: 1/7;
    grid-row: 18/22;
    background-size: cover;
    background-position-x: center;
}
.f6{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 7/13;
    grid-row: 18/22;
    padding: 3rem;
    text-align: justify;
    line-height: 25px;
    background-color: #fef1db;
}
.drop_down{
    grid-column: 1/5;
    grid-row: 23;
}
.h_course{
    grid-column: 1/13;
    grid-row: 22;
    background-color: rgb(13, 0, 89) ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: aliceblue;
    margin-top: 10px;
}
.c1{
    background-image:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.692)), url(../assets/home/arch.jpg);
    grid-row: 23/27;
    grid-column: 1/5;
    margin-top: 10px;
    display: flex;
    align-items:end;
    line-height: 0px;
    color: white;
}

.c2{
    background-image:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.692)), url(../assets/univ/ADAMSON/phar.jpg);
    grid-row: 23/27;
    grid-column: 5/9;
    margin-top: 10px;
    display: flex;
    align-items:end;
    line-height: 0px;
    color: white;
}
.c3{
    background-image:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.692)), url(../assets/univ/ADAMSON/bio.jpg);
    grid-row: 23/27;
    grid-column: 9/13;
    margin-top: 10px;
    display: flex;
    align-items:end;
    line-height: 0px;
    transition: all 0.5s;
    color: white;
}
.c1 p,
.c2 p,
.c3 p{
    opacity: 0;
    transition: all 0.5s;
}
.c1:hover p,
.c2:hover p,
.c3:hover p{
    line-height: 25px;
    opacity: 1;
}
.c1_a{
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.692));
    padding: 2rem;
    
}
.more_1{
    grid-row: 27/28;
    grid-column: 6/8;

    background-color: rgb(13, 0, 89);
    border: none;
    outline: none;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
}

.scho{
    grid-row: 28/29;
    grid-column: 1/13;
    background-color: rgb(13, 0, 89) ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: aliceblue;
    margin-top: 10px;
}


.s1{
    background-color: #fef1db;
    grid-row: 29/34;
    grid-column: 1/13;

}
.s1_a{
    color: black;
    grid-row: 29/32;
    grid-column: 1/8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    text-align: justify;
    line-height: 25px;
    background-color: #fef1db;
}
.s1_pic{
 background-image: url(../assets/home/adam.png);
 grid-row: 29/33;
 grid-column: 8/12;
 background-repeat: no-repeat;
 background-size: 80%;
background-position: center;
margin-top: 10px;
}
.more_2{
    grid-row: 32/33;
    grid-column: 2/4;
    margin-top: 10%;
    background-color: rgb(13, 0, 89);
    border: none;
    outline: none;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
}





























.footer{
    background-color: rgb(247, 211, 114);
    grid-column: 1/13;
    grid-row: 40/44;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer_1{
    width: 80%;
    height: 80%;
    
  }
  
  .footer_holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .footer_nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    
    color: #1d3557;
  }
  .footer_nav p{
    transition: transform 0.2s ease;
  }
  .footer_nav p:hover{
    transform: translateX(10px);
    color: #51719b;
  }
  .footer_logo img{
    width: 80px;
  }
  .footer_logo{
    text-transform: uppercase;
  }
  
  hr{
    background-color: rgb(253, 174, 3);
    height: 3px;
    border: none;
    margin-bottom: 40px;
  }
  .soc_med{
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: 40px;
  }
  .soc_med i{
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  .soc_med i:hover{
    transform: translateY(-5px);
  }
  .credit{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .basta{
    display: flex;
    justify-content: space-between;
    
    width: 50%;
  }
  
  .bot{
    color: #1d3557;
  }
  .bot input{
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
  }
  .bot button{
    outline: none;
    border: none;
    background-color: #1d3557;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 0 10px;
    cursor: pointer;
  
    color: white;
    font-size: 15px;
    font-weight: 500;
  }