*{
    font-family: Montserrat;
}
html{
    scroll-behavior: smooth;
}
body {
    margin: 0 auto;
    background-color: #FEFAE0;
}
.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: minmax(100px,auto);

}
.container_picture{
    grid-column: 3/ 7;
    grid-row: 2/9;

    background-image: url(../assets/common/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;

    box-shadow: 2px 2px 50px rgba(78, 78, 78, 0.514);
    z-index: 0;
}
.container_login{
    grid-column: 7/ 11;
    grid-row: 2/9;

    background-color: #f8f7f5;
    
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 2px 50px rgba(78, 78, 78, 0.514);
    z-index: 1;
}
.wrapper{
    width:70%;
}
.wrapper img{
    width: 50px;
}
.wrapper h1{
    font: 36px;
}
.wrapper .input_box{
    width: 100%;
    height: 50px;
    margin: 35px 0;
}
.input_box input{
    width: 80%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(100, 94, 94);
    border-radius: 40px;
    font-size: 16px;
    padding: 5px 5px 5px 20px;

    
}
.input_box input::placeholder{
    color: rgb(100, 100, 100);
}
.wrapper .remember_forgot{
    display: flex;
    justify-content: space-between;
    margin: 0px 40px 30px;
    font-size: 12px;
}
.remember_forgot label input{
    accent-color: #fff;

}
.remember_forgot a{
    color: gray;
    text-decoration: none;
}
input[type="checkbox"] {
    transform: scale(0.8);
    margin: 0;
    padding: 0; 
    width: 12px; 
    height: 12px; 
}
.btn {
    width: 85%;
    height: 50px;
    background: #fdae02;
    border-radius: 40px;
    border: none;
    outline: none;

    font-size: 16px;
    font-weight: 600;
    color: white;

    cursor: pointer;
    transition: 
        transform 0.3s,
        box-shadow 0.3s
        
}
.btn:hover{
    transform:  translateY(-5px);
    box-shadow: 2px 2px 2px rgb(170, 170, 170);

    /*
    border: 2px solid rgb(233, 196, 106);
    background: transparent;
    color: rgb(233, 196, 106);
    */
}

.register_link{
    font-size: 15px;
    margin-top: 50px;
}
.register_link a{
    text-decoration: none;
    font-weight: 600;
    color: #fdae02;
}
.footer{
    grid-column: 1/13;
    grid-row: 9/9;
}

@media (max-width: 1150px) {
    .container{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-auto-rows: minmax(100px,auto);
    
    }
    .container_picture{
        grid-column: 2/12;
        grid-row: 2/5;
        
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .container_login{
        padding: 2rem;
        grid-column: 2/12;
        grid-row: 5/9;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .wrapper h1{
        font-size: 25px;
        text-align: center;
    }
}
