* {
    font-family: Montserrat;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    background-color: #FEFAE0;
    overflow-x: hidden;

}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEFAE0;
    grid-column: 1/3;
}

.header img {
    width: 80px;
}



.navigation {
    background-color: #FEFAE0;
    grid-column: 4/13;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 1rem;
    padding-right: 5rem;
    

}

.navigation a {
    margin: 20px;
    color: #1d3557;
    font-weight: 500;
    text-decoration: none;
    transition:
        transform 0.3s;
}

.search_box {
    width: 25%;
    height: 60%;
    background: white;
    color: black;
    border: 2px solid rgb(100, 94, 94);
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 1rem;
    transition:
        transform 0.3s,
        background-color 0.3s,
        color 0.3s,
        border 0.3s;
}

.search_box:hover {
    transform: translateY(-3px);
    box-shadow: 2px 2px 5px rgba(82, 82, 82, 0.455);
    background-color: #f09c0c;
}

.navigation a:hover {
    border-bottom: 2px solid #1d3557;
    transform: translateY(-3px);
}

.active {
    border-bottom: 2px solid #1d3557;
}
/* content*/
.picture{
    background-image: linear-gradient(rgba(6, 6, 16, 0.677),rgba(0, 0, 0, 0.732)),url(../assets/contact/contact.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position-y: center;
    grid-column: 1/13;
    grid-row: 2/6;

    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: minmax(100px, auto);

    z-index: -1;
    
}
.picture_text{
    grid-column: 3/8;
    display: flex;
    align-items: center;

    color: white;
    text-transform: uppercase;
    font-size: 20px;
    animation: GoIn 1s  ;
}
.picture_text h1{
    color: yellow;
}
.picture_text p {
    text-transform: lowercase;
}
/* 2 box */
.box1{
    background-color: rgb(249, 249, 243);
    grid-column: 3/7;
    grid-row: 5/9;
    box-shadow: 0 0 128px rgba(0,0,0,0.1),
            0 32px 64px -48px rgb(0,0,0,0.5);

    text-align: center;
    padding: 2rem 5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    animation: GoIn 1s  ;
}

i{
    font-size: 3rem;
    color: #1d3557;
}
#copyText{
    font-weight: 600;
    transition: transform 0.3s;
    color: red;
    cursor: pointer;
    font-size: 20px;
}
#copyText:hover{
    transform: translateY(-3px) scale(1.1);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.166);
}
.box2{
    background-color: rgb(249, 249, 243);
    grid-column: 7/11;
    grid-row: 5/9;



    box-shadow: 0 0 128px rgba(0,0,0,0.1),
            0 32px 64px -48px rgb(0,0,0,0.5);

    text-align: center;
    padding: 2rem 5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    animation: GoIn 1.5s  ;
}
.robot{
  background-color: rgb(249, 249, 243);
  grid-column: 3/11;
  grid-row: 10/13;

  box-shadow: 0 0 128px rgba(0,0,0,0.1),
            0 32px 64px -48px rgb(0,0,0,0.5);

  text-align: center;
  padding: 2rem 5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  animation:  GoIn2 linear;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: 400px;
}
.ai input{
  border: none;
  padding: 10px 20px;
  width: 300px;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  box-shadow: 0 0 128px rgba(0,0,0,0.1),
              0 32px 64px -48px rgb(0,0,0,0.5);
}
.ai button{
  outline: none;
  border: none;
  background-color: #1d3557;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 0 10px;
  cursor: pointer;

  color: white;
  font-size: 15px;
  font-weight: 500;
}
.email{
  background-color: rgb(249, 249, 243);
  grid-column: 3/11;
  grid-row: 13/15;

  box-shadow: 0 0 128px rgba(0,0,0,0.1),
            0 32px 64px -48px rgb(0,0,0,0.5);

  text-align: center;
  padding: 2rem 5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  animation:  GoIn2 linear;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: 400px;
}
/*footer*/
.footer{
    background-color: rgb(247, 211, 114);
    grid-column: 1/13;
    grid-row: 16/20;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer_1{
    width: 80%;
    height: 80%;
    
  }
  
  .footer_holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .footer_nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    
    color: #1d3557;
  }
  .footer_nav p{
    transition: transform 0.2s ease;
  }
  .footer_nav p:hover{
    transform: translateX(10px);
    color: #51719b;
  }
  .footer_logo img{
    width: 80px;
  }
  .footer_logo{
    text-transform: uppercase;
  }
  
  hr{
    background-color: rgb(253, 174, 3);
    height: 3px;
    border: none;
    margin-bottom: 40px;
  }
  .soc_med{
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: 40px;
  }
  .soc_med i{
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    color: black;
  }
  .soc_med i:hover{
    transform: translateY(-5px);
  }
  .credit{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .basta{
    display: flex;
    justify-content: space-between;
    
    width: 50%;
  }
  
  .bot{
    color: #1d3557;
  }
  .bot input{
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
  }
  .bot button{
    outline: none;
    border: none;
    background-color: #1d3557;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 0 10px;
    cursor: pointer;
  
    color: white;
    font-size: 15px;
    font-weight: 500;
  }


  @keyframes GoIn{
    0% {
      transform: translateX(-100%);
      filter: blur(5px);
    }
    25% {
      transform: translateX(10%);
    }
    50% {
      transform: translateX(-3%);
    }
    75% {
      transform: translateX(1%);
    }
    100% {
      transform: translateX(0%);
      filter: blur(0px);
    }
  }
  @keyframes GoIn1{
    0% {
      transform: translateX(100%);
      filter: blur(5px);
    }
    25% {
      transform: translateX(-4%);
    }
    50% {
      transform: translateX(3%);
    }
    75% {
      transform: translateX(-1%);
    }
    100% {
      transform: translateX(0%);
      filter: blur(0px);
    }
  }
  @keyframes GoIn2{
    from{
      scale: .8;
      opacity: 0;
    }
    to{
      scale: 1;
      opacity: 1;
    }
  }